<div class="row">
    <h2><span class="glyphicon glyphicon-folder-open"> mealLog</span></h2>

    <div class="col-md-8">
        <pagination total-items="totalMeals" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true" ng-change="fetchPageMealList()">
        </pagination>

        <div ng-show="meals.length == 0">
            No meals found
        </div>

        <div ng-show="!meals.length == 0">

            <table class="table table-striped table-hover">
                <thead>
                    <th>Date</th>
                    <th>Type / Note</th>
                    <th>Ingredients</th>
                    <th>Nutrition</th>
                    <th>Value</th>
                </thead>
                <tbody ng-repeat="meal in meals">
                    <tr>
                        <td format-date="" date="meal.date">
                            <a href="" class="glyphicon glyphicon-trash" ng-click="mealDeleteModal(meal)"></a>
                        </td>
                        <td>
                            {{meal.mealCategory.name}}
                            <br />
                            {{meal.note}}
                        </td>
                        <td>
                           <div ng-repeat="ingredient in meal.ingredients">{{ingredient.name}}</div>
                        </td>

                        <td>
                                  Energy
                            <br />Protein
                            <br />Carbohydrate
                            <br />Fat Total
                            <br />Fat Saturated
                            <br />Sugar
                            <br />Sodium
                        </td>

                        <td>
                                  {{meal.mealNutritionValues.energy}} kcal
                            <br />{{meal.mealNutritionValues.protein}} gr
                            <br />{{meal.mealNutritionValues.carbohydrate}} gr
                            <br />{{meal.mealNutritionValues.fatTotal}} gr
                            <br />{{meal.mealNutritionValues.fatSaturated}} gr
                            <br />{{meal.mealNutritionValues.carbohydrateSugar}} gr
                            <br />{{meal.mealNutritionValues.sodium}} gr
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <pagination total-items="totalMeals" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true" ng-change="fetchPageMealList()">
        </pagination>

    </div>

</div>


