<div class="modal-header">
    <h3 class="modal-title">{{meal.name}}?</h3>
</div>
<div class="modal-body">
    Are you sure you want to delete this meal?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="mealDeleteModalDelete(meal)">Delete</button>
    <button class="btn btn-success" ng-click="mealDeleteModalClose()">Cancel</button>
</div>