<div class="row">
    <div class="large-4 medium-4 columns">
        <h1 class="icon-style-green">{{ user.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div class="panel">
            <h2 class="text-center">Latest meals</h2>
             <div ng-repeat="meal in latestMeal">
                {{meal.name}} {{meal.date}}
             </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="panel">
            <h2 class="text-center">Latest workouts</h2>

        </div>
    </div>
</div>