

<!--<spring:url value="/profile/upload-profilepicture" var="upload_profilePicture_url" />-->
<!--<spring:url value="${profilePicture}" var="profilePicture_url" />-->


<div class="row">
    <div class="col-md-3">
        <img src="${profilePicture_url}" class="img-responsive">

    </div>
</div>

<form id="profile-picture" action="${upload_profilePicture_url}" method="POST" enctype="multipart/form-data">
    <input type="file" placeholder="Select File" id="profile-picture-input" name="pp">
    <input type="submit" class="btn-default btn-sm" id="profile-picture-submit" value="Submit"/>
    <%--<button id="upload-profile-picture">Upload picture</button>--%>
</form>

<script type="text/javascript">

    $('#profile-picture').submit(function(e) {
        e.preventDefault;
        console.log("Uploading...");
        $.post('/upload-profilepicture', $(this).serialize(), function(taskId) {

        });
    })



</script>