<div class="row">

    <h2><span class="glyphicon glyphicon-cutlery" ></span> Meal</h2>

    <div class="col-md-4">
        <form class="form-horizontal" role="form" method="post" name="mealForm">

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-tag"></span>
                <select ng-model="meal.mealCategory" class="form-control"
                        ng-options="mealCategory.name for mealCategory in mealCategories">
                    <option value="" disabled selected>Select meal category</option>
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                <input type="text" class="form-control" ng-model="meal.date"
                       placeholder="Select date and time" disabled="true" datepicker-popup="{{format}}"/>
            </div>

            <div  class="well well-sm">
                <datepicker ng-model="meal.date" min-date="minDate"
                            show-weeks="true"></datepicker>
                <timepicker ng-model="meal.date" ng-change="changed()" hour-step="hstep"
                            minute-step="mstep" show-meridian="ismeridian" class="well well-sm"></timepicker>
            </div>

        </form>
    </div>

    <div class="col-md-4">

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-pencil"></span>
            <textarea type="text" class="form-control" id="note"
                      ng-model="meal.note" placeholder="Meal note"></textarea>
        </div>

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" ng-model="ingredientSelect" placeholder="Search for ingredient..."
                   typeahead="name as ingredient.name for ingredient in findIngredient($viewValue)"
                   typeahead-on-select="selectIngredient($item)"
                   typeahead-loading="loadingIngredients" class="form-control">
        </div>
        <span ng-show="loadingIngredients" class="glyphicon glyphicon-refresh"></span>

        <span class="glyphicon glyphicon-info-sign"></span> Missing ingredient,
        <a href="#/ingredient"> add it!</a>

        <table class="table table-striped table-hover">
            <thead></thead>
            <tbody  ng-repeat="ingredient in meal.ingredients">
            <tr>
                <td>
                    <a href="" ng-click="removeIngredient(ingredient, $index)"><span class="glyphicon glyphicon-minus-sign"></span></a>
                </td>
                <td>
                    {{ingredient.name}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <div class="form-buttons">
            <button type="submit" class="btn btn-success" ng-click="addNewMeal()">
                <span class="glyphicon glyphicon-floppy-save"></span> Log</button>
            <button type="submit" class="btn btn-danger" ng-click="removeAllIngredients()">
                <span class="glyphicon glyphicon-refresh"></span> Reset</button>
        </div>

        <h3><span class="glyphicon glyphicon-info-sign" ></span> Info</h3>
        <div class="well well-sm">
            <p class="text-primary">
                This is where you log your meal. Give the meal a name and date-time and add
                ingredients and you should be good.
            </p>
            <p class="text-info">
                Ingredients can be searched for, and applied, or you can choose to add a new
                ingredient if you do not find the one you are looking for.
            </p>
        </div>

    </div>

</div>
