<div class="row">

    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-list" ></span> Workout</h3>

        <form class="form-horizontal" role="form" method="post" name="workoutForm">

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                <input type="text" class="form-control" ng-model="workout.name" placeholder="Name"/>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-tag"></span>
                <select ng-model="workout.workoutCategory" class="form-control"
                        ng-options="workoutCategory.name for workoutCategory in workoutCategories">
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                <input type="text" class="form-control" ng-model="workout.date"
                       placeholder="Select date and time" disabled="true" datepicker-popup="{{format}}"/>
            </div>

            <div  class="well well-sm">
                <datepicker ng-model="workout.date" min-date="minDate"
                            show-weeks="true"></datepicker>
                <timepicker ng-model="workout.date" ng-change="changed()" hour-step="hstep"
                            minute-step="mstep" show-meridian="ismeridian" class="well well-sm"></timepicker>
            </div>

            <div class="form-buttons well well-sm">
                <button type="submit" class="btn btn-success" ng-click="addNewWorkout()">
                    <span class="glyphicon glyphicon-floppy-save"></span> Log</button>
                <button type="submit" class="btn btn-danger" ng-click="null">
                    <span class="glyphicon glyphicon-refresh"></span> Reset</button>
            </div>

        </form>
    </div>

    <div class="col-md-8">
        <h3><span class="glyphicon glyphicon-fire" ></span> Exercises</h3>

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" ng-model="exerciseSelect" placeholder="Search for exercise..."
                   typeahead="name as exercise.name for exercise in findExercise($viewValue)"
                   typeahead-on-select="addExercise($item)"
                   typeahead-loading="loadingExercises" class="form-control">
        </div>
        <span ng-show="loadingExercises" class="glyphicon glyphicon-refresh"></span>

        <table class="table table-striped table-hover">
            <thead>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
            </thead>
            <tbody>
                <tr ng-repeat="workoutExercise in workoutExercises">
                    <td>
                        {{workoutExercise.name}}
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input ng-model="workoutExercise.sets"
                                   type="text" class="form-control" placeholder="Sets">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input ng-model="workoutExercise.reps"
                                   type="text" class="form-control" placeholder="Reps">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input ng-model="workoutExercise.weight"
                                   type="text" class="form-control" placeholder="Weight">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {{workout.id}}

</div>