<div class="row">

    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-list" ></span> Workout</h3>
        <div ng-repeat="workout in workouts">
            {{workout.name}}

            <br>

            <!--<div ng-repeat="we in workout.exercises">-->
                <!--does not work-->
            <!--</div>-->
        </div>
    </div>

</div>

