<div class="row">
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-cutlery" ></span> New Ingredient</h3>

        <form class="form-horizontal" role="form" method="post" name="ingredient-form">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.name" placeholder="Name">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="protein" ng-model="ingredient.protein" placeholder="Protein">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.carbohydrate" placeholder="Carbohydrate">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.carbohydrateSugar" placeholder="Sugar">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.fatTotal" placeholder="Fat Total">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.fatSaturated" placeholder="Fat Saturated">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.energy" placeholder="Energy">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input type="text" class="form-control" id="name" ng-model="ingredient.sodium" placeholder="Sodium">
                <span class="input-group-addon">gram</span>
            </div>

            <div class="form-buttons well well-sm">
                <button type="submit" class="btn btn-success" ng-disabled="!ingredient"
                        ng-click="addIngredient(ingredient)">Add Ingredient</button>
                <button type="submit" class="btn btn-danger" ng-disabled="!ingredient"
                        ng-click="addIngredient(ingredient)">Clear</button>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-cutlery" ></span> Existing ingredients</h3>

        <div ng-show="ingredients.length == 0">
            No meals found
        </div>

        <table class="table table-striped table-hover well well-sm">
            <thead>
                <th>#</th>
                <th>Name</th>
            </thead>
            <tbody ng-repeat="ingredient in ingredients | filter:ingredient.name">
            <tr>
                <td>
                    {{ingredient.id}}
                </td>
                <td>
                    {{ingredient.name}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4 ">
        <h3><span class="glyphicon glyphicon-info-sign" ></span> Info</h3>
        <div class="well well-sm">
            <p class="text-primary">
                When adding a new ingredient, you can start typing the name of the ingredient
                to see if it is already present in the database.
            </p>
            <p class="text-info">
                Make sure you input all the correct nutrition values before adding the new ingredient.
            </p>
        </div>

    </div>
</div>